<template name="contentheader">
	<div class="quote-info">
	<h1>DESIGN CONTEST</h1>
	<p>Jika anda mempunyai idea untuk design tshirt, sila hantar disini. Ramai yang akan memberikan feedback nanti. Jika design anda terpilih, ia akan di print oleh pihak kami, supaya satu nusantara dapat memiliknya! </p>
	</div>

	<div class="contest gray-bg">
	<div class="row">
	<h1 align="center">Join this contest</h1>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4">
		<a href="/vote" class="btn btn-info btn-lg btn-block">Start Vote</a>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
		<a class="resetUpload btn btn-info btn-lg btn-block">Submit Design</a>
		</div>
	</div>
	</div>
	<div class="hr"></div>
</template>