<template name="header">
    <header class="header-frontend">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img src="http://docnantees.com/img/docnantees-logo.png" alt=""></a>
                	<ul class="nav navbar-nav">
       					<li><a href="http://dropship.docnantees.com/stores">Tees Store</a></li>
        				<li><a href="http://dropship.docnantees.com/stores/join_us">Join Dropship</a></li>
        				<li class="active"><a href="http://contest.docnantees.com" class="active dropdown-toggle" data-toggle="dropdown">Design Challenges</a></li>
        				<li>{{> loginButtons}}</li>		
            		</ul>
				</div>
			</div>
        </div>
    </header>
</template>